html {
  scroll-behavior: smooth;
  overflow: hidden;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #232c33;
}

.warpper-designed {
  height: 100vh;
  background-image: url(./assets/myImg1.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5%;
  max-width: 100%;
  max-height: 70%;
}

.player {
  background: #5a717d;
  border-radius: 30px;
  max-width: 60%;
  padding: 25px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 16px;
  color: rgb(210, 204, 204);
  text-align: center;
}

.cover {
  display: flex;
  justify-content: center;
  margin: 5% 5%;
  border-radius: 50%;
  overflow: hidden;
}

.cover__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cover__img.active {
  animation: rotateAndScale 15s linear infinite;
}

.song {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #e4e9ed;
  text-align: center;
}

.progress__container{
  background: #E4E9ED;
  border-radius: 10px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  
}

.progress {
  background: #5b707d;
  border-radius: 5px;
  height: 10px;
  margin: 2px 2px;
}

.buttons  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.btn.play {
  width: 100%;
  margin: 10px;
}

.btn.prev,
.btn.next {
  width: 50%; 
}

.btn.play img {
  width: 40%; 
}
.btn.prev img,
.btn.next img {
  width: 40%; 
}


@keyframes rotateAndScale {
  0% {
    transform: rotate(0deg) scale(1);
  }
  50% {
    transform: rotate(180deg) scale(3.8);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}

/* Определение анимации масштабирования */
@keyframes scaleAnimationTemp {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

img.scaledtemp {
  animation: scaleAnimationTemp 0.2s linear forwards;
  cursor: pointer;
}

.track-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
  color: #FFF;
}

.volume__container{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
  align-self: flex-start;
}

.volume-picture {
  width: 5vh;
  height: 5vh;
  margin: 10px;
}

.volume-picture img {
  height: 100%;
  cursor: pointer;
}

.slider {
  -webkit-appearance: none;
  height: 0.7em;
  outline: none;
  border-radius: 5px;
  background: #89d7df;
  cursor: pointer;
  width: 100%;
}

.footer-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #FFF;
  font-size: 5px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; 
}

.adn-link {
text-decoration: none;
color: #FFF;
}

.adn-link.rs {
  font-size: 16px;
}

.adn-link:hover {
text-decoration: underline;
 color: #BB945F;
 cursor: pointer;
}


.footer-line {
  width: 100%;
  height: 1px;
  background-color: #FFF;
  margin-bottom: 20px;
}

.footer-rss {
  color: #FFF;
  font-size: 16px;
  margin: 5px;
  text-align: center;
}

.rsimg {
  height: 90%;
}

@media screen and (max-width: 768px) {

  .player {
    max-width: 90%;
  }

}


@media screen and (max-width: 268px) {

  .volume__container {
    flex-direction: column;
  }

 .warpper-designed {
  max-width: 100%;
 }
}

@media screen and (max-width: 468px) {

  .btn.play img {
    width: 100%;
  }
  .btn.prev img, .btn.next img {
    width: 100%; 
  }
  .song {
    font-size: 12px;
    line-height: 12px;
  } 
  .footer-rss {
    font-size: 8px;
    margin: 0px;
  }
}

